html {
  height: 100%;
}
body {
  height: 100%;
  font-family: 'Muli', sans-serif;
}

#flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

#header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(230, 230, 230);
}

#back {
  position: absolute;
  top: 23px;
  left: 20px;
  width: 20px;
  }

#title {
  font-size: 30px;
}

#form-container {
  padding: 10px 10px 0;
  width: 100%;
}

input {
  margin: 5px 0;
  width: 100%;
  border: 2px solid #f8f8f8;
}

select {
  border-radius: 3px;
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  background: url('../images/select-arrows.svg') #F8F8F8;
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: right center;
}

button {
  width: 100%;
  padding: 5px;
  margin: 5px 0;
  border-radius: 5px;
  background-color: rgb(230, 230, 230);
}

.third {
  width: calc(100%/3);
  float: left;
}

#done {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 10px;
  border-radius: 0;
}
