html {
  height: 100%;
}

body {
  font-family: 'Muli', sans-serif;
  height: 100%;
  overflow: hidden;
}

#post {
  height: 80%;
  width: 80%;
  background-color: #ffffff;
  position: absolute;
  top: -80%;
  left: 10%;
  z-index: 1;
  border: 5px solid #f2f2f2;
  border-radius: 10px;
}

#close {
  width: 100%;
  padding: 0 5px 4px;
  background-color: #f2f2f2;
}

#post-offering {
  font-size: 25px;
}

#post-date {
  color: rgb(230, 230, 230);
  margin: 10px 0 0;
}

hr {
  float: left;
  width: 50%;
  margin: 9px 0 0;
}

#data-container {
  margin: 15px;
  height: 55%;
}

#map {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40%;
}

#flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 125px;
  background-color: #3E5E70;
}

#back-title {
  width: 100%;
  padding: 20px 0 10px;
  display: flex;
  justify-content: center;
}

#back {
  position: absolute;
  top: 23px;
  left: 20px;
  width: 20px;
  }

#title {
  color: #ffffff;
  font-size: 30px;
}

#filter-title {
  color: #ffffff;
}

#filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#categories {
  margin: 5px;
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
  background: url('../images/select-arrows.svg') #f8f8f8;
  background-repeat: no-repeat;
  background-position: right center;
}

#categories:hover {
  background-color: #f2f2f2;
}

#map-button {
  margin: 5px;
  padding: 6.5px 20px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #C2ECAD;
  color: #000000;
}

#map-button:hover {
  background-color: rgb(159, 208, 110);
}

#post-container {
  display: none;
  position: fixed;
  bottom: 0;
  top: 125px;
  width: 100%;
  overflow: scroll;
}

.post {
  width: 90%;
  height: 120px;
  margin: 10px auto;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  display: flex;
}

.img {
  width: 120px;
  height: 120px;
  padding: 5px;
  background-color: rgb(222, 222, 222);
}

.offering {
  font-size: 20px;
  font-weight: 900;
}

.data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
  padding: 10px;
}

.date {
  color: rgb(230, 230, 230);
  align-self: flex-end;
}
