html {
  height: 100%;
}
body {
  height: 100%;
  font-family: 'Muli', sans-serif;
}

#flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

#header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3E5E70;
  color: #ffffff;
}

#back {
  position: absolute;
  top: 23px;
  left: 20px;
  width: 20px;
  }

#title {
  font-size: 30px;
}

#map-container {
  position: fixed;
  top: 80px;
  bottom: 0;
  width: 100%;
}

#map{
  height: 100%;
  width: 100%;
}

.post {
  width: 150px;
}
.header{
  font-size: 20px;
}

.img{
  height: 100px;
  width:100px;
  padding: 5px;
}
