#categories {
  position: absolute;
}
.category {
  width: auto;
  text-align: center;
  padding: 10px;
  border: 3px solid #fafafa;
  border-radius: 20px;
}
.category:hover {
  background-color: #fafafa;
  cursor: pointer;
}
