@media screen and (max-width: 479px) {
  html {
    height: 97%;
  }
  body {
    height: 100%;
    font-family: 'Hind', sans-serif;
  }
  .flex-container {
    height: 100%;
    font-size: 30px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  #provider {
    width: 50%;
  }
  #in-need {
    width: 50%;
  }
}
