html {
  height: 98%;
}
body {
  height: 100%;
  font-family: 'Hind', sans-serif;
}
#logo {
  width: 200px;
  position: absolute;
}
.flex-container {
  height: 99%;
  font-size: 50px;
  font-size: 5vw;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#provider {
  width: 50%;
}
#in-need {
width: 50%;
}
.button {
  border: 5px solid #fafafa;
  width: auto;
  border-radius: 25px;
  margin: 50px;
  padding: 50px;
  overflow: auto;
}
.button:hover {
  background-color: #fafafa;
  cursor: pointer;
}
